{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }} Classement {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Classement</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item active">Classement</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                                <a href="{{ path('courrier_classer_new') }}" class="btn btn-primary float-right mb-3">
                                    <i class="fa fa-plus"></i>
                                    Classer un courrier
                                </a>
                            </div>
                    </div><!--end row-->
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Courrier</th>
                        <th>Type de dossier</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for courrier_classer in courrier_classers %}
                            <tr>
                                <td>{{ courrier_classer.courrier.reference }}</td>
                                <td>{{ courrier_classer.typDos.libelleTypeDossier }}</td>
                                <td>
                                        <a href="{{ url('show_courrier_classed',{id:courrier_classer.courrier.id}) }}">
                                                <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="#"
                                        onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">
                                         <i class="fas fa-trash text-danger"></i>
                                        </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr align="center">
                                <td colspan="3">
                                    Aucun courrier classer
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
