{% extends "base_admin.html.twig" %}
{% block title %}{{ parent() }} Détail du courrier classé{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Courriers</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item">Courrier</li>
                                <li class="breadcrumb-item active">Courrier classer</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <span class="font-weight-bold">Recepteur :</span>
                    <span>{{ courrier_classer.recipient is defined ? courrier_classer.recipient.email : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Emetteur :</span>
                    <span>{{ courrier_classer.sender is defined ? courrier_classer.sender.email : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Objet :</span>
                    <span>{{ courrier_classer.objetCourrier is defined ? courrier_classer.objetCourrier : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Date d'envoi :</span>
                    <span>
                        {{ courrier_classer.dateEnvoie is defined ? courrier_classer.dateEnvoie|date('d/m/Y') : "" }} à
                        {{ courrier_classer.dateEnvoie is defined ? courrier_classer.dateEnvoie|date('H:i') : "" }}
                    </span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Type du courrier :</span>
                    <span>{{ courrier_classer.typeCourrier is defined ? courrier_classer.typeCourrier.libelleTypeCourrier }}</span>
                </div>
                {% if courrier_classer.fichier is defined %}
                    <div class="mb-2 {{ courrier_classer.fichier is null ? 'd-none' : '' }}">
                        <span class="font-weight-bold">
                            <a href="{{ asset('uploads/courriers/' ~ courrier_classer.fichier ) }}">Voir le courrier</a>
                        </span>
                    </div>
                {% endif %}
                <div class="mt-4 mb-2">
                    <span class="font-weight-bold">Message :</span>
                    <span>{{ courrier_classer.message is defined ? courrier_classer.message|raw }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}