{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }} Courrier {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Courriers</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item active">Courrier</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>De</th>
                        <th>A</th>
                        <th>Sujet</th>
                        <th>Date</th>
                        <th>Priorité </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>    
                       {% for courrier in courriers %}
                        {% set priorite = courrier.priorite %}
                        <tr>
                            <td>{{ courrier.sender.username }}</td>
                            <td>{{ courrier.recipient.username }}</td>
                            <td>{{ courrier.objetCourrier }}</td>
                            <td>{{ courrier.dateEnvoie|date('d-m-Y') }}</td>
                            <td>
                                {% if priorite == 1 %}
                                    <span class="badge badge-success">Normale</span>
                                {% elseif priorite == 2 %}
                                    <span class="badge badge-warning">Urgent</span>
                                {% elseif priorite == 3 %}
                                    <span class="badge badge-danger">Très urgent</span>
                                {% endif %}
                            </td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
