{% extends "base_admin.html.twig" %}
{% block title %}{{ parent() }} Ajout de type de courrier {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Types de courriers</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item">Type de courrier</li>
                                <li class="breadcrumb-item active">Ajout</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                {{ form_widget(form) }}
                    <div class="d-flex">
                        <button class="btn btn-primary mx-2 rounded-0">Enregistrer</button>
                        <a href="{{ path('admin_type_courrier_index') }}"
                           class="btn btn-warning rounded-0">
                            Retourner
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}