{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }} Type de courrier {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Types de courriers</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item active">Type de courrier</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="{{ path('admin_type_courrier_new') }}" class="btn btn-primary float-right mb-3">
                                <i class="fa fa-plus"></i>
                                Nouveau type de courrier
                            </a>
                        </div>
                    </div><!--end row-->
                </div>
                {% include 'partials/research.html.twig' %}
                <table class="table table-striped" id="table">
                    <thead>
                        <tr>
                            <th>Type de courrier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for type_courrier in type_courriers %}
                        <tr>
                            <td>{{ type_courrier.LibelleTypeCourrier }}</td>
                            <td>
                                <a href="{{ path('admin_type_courrier_edit', {'id': type_courrier.id}) }}">
                                    <i class="fas fa-edit text-success"></i>
                                </a>
                                <a href="{{ path('admin_type_courrier_delete', {'id': type_courrier.id}) }}"
                                   onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');"
                                >
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr align="center">
                            <td colspan="2">Aucun type de courrier</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
