{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }} Courriers envoyé{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Courriers envoyé</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item active">Courrier envoyé</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Recepteur</th>
                        <th>Objet</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set route_name = app.request.attributes.get('_route') %}
                    {% for sent_courrier in sent_courriers %}
                        <tr>
                            <td>{{ sent_courrier.recipient.username }}</td>
                            <td class="{{ sent_courrier.isRead == 0 ? 'font-weight-bold' : '' }}">
                                {{ sent_courrier.objetCourrier }}
                            </td>
                            <td>
                                <a href="{{ url('courrier_share_user',{courrier_id:sent_courrier.id}) }}">
                                    <i class="fas fa-share-alt text-info"></i>
                                </a>
                                <a href="{{ path('courrier_sent_show',{id:sent_courrier.id})}}">
                                    <i class="fas fa-eye"></i>
                                </a>
{#                                <a href="/{{ sent_courrier.id }}/delete-to-trash/{{ route_name }}"#}
                                <a href="{{ path('courrier_delete_trash',{id:sent_courrier.id})}}"
                                   onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr align="center">
                            <td colspan="3">Aucun courrier envoyé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
