{% extends "base_admin.html.twig" %}
{% block title %}{{ parent() }} Détail du courrier envoyé{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Courriers</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item">Courrier envoyé</li>
                                <li class="breadcrumb-item active">Détail</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-2">
                    <span class="font-weight-bold">Recepteur :</span>
                    <span>{{ sent_courrier is defined ? sent_courrier.recipient.email : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Recepteur :</span>
                    <span>{{ sent_courrier is defined ? sent_courrier.recipient.email : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Objet :</span>
                    <span>{{ sent_courrier is defined ? sent_courrier.objetCourrier : "" }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Date d'envoi :</span>
                    <span>
                        {{ sent_courrier is defined ? sent_courrier.dateEnvoie|date('d/m/Y') : "" }} à
                        {{ sent_courrier is defined ? sent_courrier.dateEnvoie|date('H:i') : "" }}
                    </span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Type du courrier :</span>
                    <span>{{ sent_courrier is defined ? sent_courrier.typeCourrier }}</span>
                </div>
                <div class="mt-4">
                    <span class="font-weight-bold">Message :</span>
                    <span>{{ sent_courrier is defined ? sent_courrier.message|raw }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}