{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }} Courrier archivé{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Courrier</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item active">Archivé</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Emetteur</th>
                        <th>Objet</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for archived_courrier in archived_courriers %}
                            <tr>
                                <td>{{ archived_courrier.user.email }}</td>
                                <td class="{{ archived_courrier.courrier.isRead == 0 ? 'font-weight-bold' : '' }}">
                                    {{ archived_courrier.courrier.objetCourrier }}
                                </td>
                                <td>
                                    <a href="{{ path('courrier_delete_trash_archived',{id:archived_courrier.id})}}"
                                       onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr align="center" class="d-none">
                                <td colspan="3">
                                    Aucun courrier archivé
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
