{% extends "base_admin.html.twig" %}
{% block title %}{{ parent() }} Modification du département {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Départements</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Gestion de Courrier</a>
                                </li>
                                <li class="breadcrumb-item">Département</li>
                                <li class="breadcrumb-item active">Modification</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                {{ form_widget(form) }}
                <div class="d-flex">
                    <button class="btn btn-success mx-2 rounded-0">Modifier</button>
                    <a href="{{ path('admin_departement_index') }}"
                       class="btn btn-warning rounded-0">
                        Retourner
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}